body {
  background-image: url("landscape.jpg"); }

.form {
  background: transparent;
  color: white; }

.template {
  display: inline-block; }

.card {
  color: white;
  border: none;
  margin: 25px;
  background: transparent; }

img {
  width: 20%; }
