body {
  background: url("images/landscape.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.form-control::-moz-placeholder {
  color: #cefaff; }

.form-control:-ms-input-placeholder {
  color: #cefaff; }

.form-control::-webkit-input-placeholder {
  color: #cefaff; }

.form {
  margin-top: 10%;
  margin-left: 33%; }

.form-control {
  background-color: transparent; }

.form-inline {
  text-align: center; }

.btn {
  background: transparent;
  color: white;
  border: white; }

#song-list {
  margin-left: 33%; }

.template {
  display: inline-block; }

.card {
  color: white;
  margin: 25px;
  margin-top: 30px;
  background: transparent;
  position: relative;
  display: flex;
  border-radius: .25rem;
  border: 1px solid rgba(225, 255, 255, 0.125); }

.card-block {
  width: 73%; }

img {
  width: 27%;
  position: absolute;
  right: 6%;
  top: 10%; }

h6 {
  font-size: 1.3rem; }

.artist {
  font-size: 1.1rem; }

.album {
  font-size: 1rem;
  font-style: italic; }

.price {
  font-size: 0.9rem; }

.text {
  margin-right: 2px; }
