

body{
background: url("images/landscape.jpg"); 
 background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

.form{
    margin-top: 10%;
    margin-left: 33%;
}

.form-control{
    background-color:transparent;
    color:white;

}

.form-inline{
    text-align: center;
}

.btn{
    background: transparent;
    color:white;
    border:white;
}

#song-list{
    margin-left:33%;
}

.template{
//outline:1px solid red;
 display:inline-block;
}

.card{
    color:white;
    border:none;
    margin:25px;
    margin-top: 30px;
    background:transparent;
    position: relative;
}

img{
    width: 27%;
    //filter: blur(1px);
    position: absolute;
    right: 6%;
    top: 10%;
}